/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Gilroy Font Declaration */

/* Gilroy Regular */
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Gilroy Regular Italic */
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

/* Gilroy Medium */
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* Gilroy Medium Italic */
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

/* Gilroy Semibold */
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* Gilroy Semibold Italic */
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

/* Gilroy Bold */
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Gilroy Bold Italic */
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

/* Gilroy Extrabold */
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-Extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

/* Gilroy Extrabold Italic */
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-ExtraboldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

/* Gilroy Black */
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

/* Gilroy Black Italic */
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}